# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# frontend code
node_modules/
dist/
.svelte-kit/

# environment variables
.env

# Circuit artifacts
*.r1cs
*.sym
*.wasm
*.wtns
*.zkey
zkLogin_js/
zkLogin_cpp/

# Build outputs
proof.json
public.json
witness.wtns